mat-form-field {
    min-width: 80%;
}


.book-form {
/*     background-color: #3f51b5; */
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
    border: solid;
}